    <div class="col-12">
        <div class="heading col-12">
            <h1>REGISTRATION NUMBERS</h1>
        </div>
<form action="/reg-numbers" method="POST">
<div id="box" class="col-12">
            <div class="col-12 center">
                <input type="text" class="enteredRegNum" placeholder="Enter Valid Reg Number" name="reg">
            </div>
        </div>

        <br>
        <div class="regAddBtn col-12 center" name="regAddBtn">
            <button class="addReg">ADD</button>
     </form>
            
            <button class="clearReg">CLEAR</button>
            <br><br>
            <div class='row1'>
                <select onchange="selectTown()" names="towns" class="towns center">
                    <option value="all">Select Town</option>
                    {{#each towns}}
                    <option value="{{town_code}}" {{selectedTag}}>{{town}}</option>
                    {{/each}}
                </select>

            </div>

        <br><br>

        <div class='col-12 center'>
            <p class='errorMsg'>{{message.error}}</p>
        </div>

        <div class='col-12 center'>
            <p class='positiveMsg'>{{message.success}}</p>
        </div>

        <div class="row2">

<div class="row">
  
   {{#each regDisplay}}
  <li class="displayPlate">{{reg_number}}</li>
       {{/each}}
 
    </div>
        
    </div>
<script>
 function selectTown(){
    
     var tag = document.querySelector(".towns").value; 
    location.href = '/filter/' + tag;
 }
</script>