    <div class="col-12">
        <div class="heading col-12">
            <h1>REGISTRATION NUMBERS</h1>
        </div>
<form action="/reg-numbers" method="POST">
<div id="box" class="col-12">
            <div class="col-12 center">
                <input type="text" class="enteredRegNum"  placeholder="eg. CA 123-123" name="reg">
           
        </div>

        <br>
        <div class="regAddBtn col-12 center" name="regAddBtn">
            <button class="addReg">ADD</button>
     </form>
            <form action="/clear" method="post">
            <button class="clearReg">CLEAR</button>
           
            <br><br>
            <div class='row1'>
                    <select onchange="selectTown()" names="towns" class="towns center">
                        <option>Select Town</option>
                    <option value="all">All Towns</option>
                    {{#each towns}}
                    <option value={{reg_code}} {{selectedTag}}>{{town}}</option>
                    {{/each}}
                </select>
 </div>  
 </form>
            </div>
 
        <br><br>

        <div class='col-12 center'>
            {{messages.error}}
        </div>

        <div class='col-12 center'>
            <p class='positiveMsg'>{{messages.success}}</p>
        </div>

        <div class="row2">

<div class="row">
  
   {{#each regDisplay}}
  <li class="displayPlate">{{reg_number}}</li>
       {{/each}}
 
    </div>
        
    </div>

<script>
 function selectTown(){
    
     var tag = document.querySelector(".towns").value; 
    location.href = '/filter/' + tag;
 }
</script>